version: 2.1

defaults: &defaults
  working_directory: /cloud_sql_backup

orbs:
  shellcheck: circleci/shellcheck@1.3.14

jobs:
  docker_build_and_push:
    <<: *defaults

    docker:
      - image: docker

    steps:
      - checkout

      - setup_remote_docker:
          docker_layer_caching: true

      - run:
          name: "Docker  build and push"
          command: |
            IMAGE_NAME=ovotech/cloud_sql_backup
            docker build -t $IMAGE_NAME:latest .
            docker tag $IMAGE_NAME:latest $IMAGE_NAME:$CIRCLE_TAG
            echo $DOCKER_PASS | docker login -u=$DOCKER_USER --password-stdin
            docker push $IMAGE_NAME:latest
            docker push $IMAGE_NAME:$CIRCLE_TAG
  test_backup:
    <<: *defaults

    docker:
      - image: google/cloud-sdk

    steps:
      - checkout

      - run:
          name: "Install dependencies"
          command: |
            apt-get update -y
            apt-get install -y jq
      - run:
          name: "Run backup script"
          command: |
            echo "$GOOGLE_CREDENTIALS" | base64 -d > /tmp/google_creds
            export DB_NAME=test-db-1:test-db-2
            export INSTANCE_CPU=1
            export INSTANCE_ENV=cicd
            export INSTANCE_MEM=3840MiB
            export INSTANCE_NAME_PREFIX=cloud-sql-backup
            export INSTANCE_REGION=europe-west1
            export INSTANCE_STORAGE_TYPE=SSD
            export SA_KEY_FILEPATH=/tmp/google_creds
            ./cloud_sql_backup.sh

workflows:
  version: 2
  release_pipeline:
    jobs:
      - docker_build_and_push:
          filters:
            tags:
              only: /v[0-9]+(\.[0-9]+)*(-.*)*/
            branches:
              ignore: /.*/
  shellcheck:
    jobs:
      - shellcheck/check
  pr_pipelines:
    jobs:
      - test_backup:
          filters:
            branches:
              ignore: master
  daily_master_check:
    triggers:
      - schedule:
          cron: "0 8 * * *"
          filters:
            branches:
              only: master
    jobs:
      - test_backup
